<h1>Liste documents</h1>

<%= link_to "Nouveau document", new_admin_communication_path, class: "btn btn-primary" if policy(Communication.new).create? %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Publié le</th>
      <th>Catégorie</th>
      <th>Mots clés</th>
      <th>Fichier</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= render @communications %>
  </tbody>
</table>

<%= link_to "Nouveau document", new_admin_communication_path, class: "btn btn-primary" if policy(Communication.new).create? %>
