<h2><%= @coordonnee.libelle %></h2>

<p><strong>Catégorie : </strong><%= @coordonnee.coord_category %></p>

<%= simple_format @coordonnee.content %>

<%= link_to 'Retour à la liste', coordonnees_path, class: "btn btn-default" %>
