<tr>
  <td><%= link_to coordonnee.libelle, [:admin, coordonnee] %></td>
  <td><%= coordonnee.coord_category %></td>
  <td>
    <div class="btn-group">
      <%= link_to 'Modifier', edit_admin_coordonnee_path(coordonnee), class: "btn btn-warning btn-sm" if policy(coordonnee).update? %>
      <%= link_to 'Détruire', coordonnee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" if policy(coordonnee).destroy? %>
    </div>
  </td>
</tr>
