<% if params["query"].present? %>
  html = "<hr>\n<h3>Résultats de la recherche</h3>\n"
  html += "<p>Terme(s) recherché(s) : '<%= params["query"] %>'</p>"
  <% vigitox = "http://localhost:3001" %>
  <% articles = HTTParty.get("#{vigitox}/api/v1/articles?q=#{params['query']}") %>
  <% if articles.any? %>
      html += "<ul>";
    <% articles.each do |article| %>
      html += "<li><%= j(link_to(article['titre'], "#{vigitox}/articles/#{article['id']}")) + " (VIGITOX N°#{article['revue']})" %></li>";
    <% end %>
      html += "</ul>";
  <% end %>
  $("#search_results").html(html);
<% end %>
