<% if params["query"].present? %>
  html = "<hr>\n<h3>Résultats de la recherche</h3>\n"
  html += "<p>Terme(s) recherché(s) : '<%= params["query"] %>'</p>"
  <% if @articles.any? %>
    html += "<h4>Articles Vigitox</h4>"
    html += "<ul>";
    <% @articles.each do |article| %>
      html += "<%= j render "article", article: article, vigitox: @vigitox %>";
    <% end %>
      html += "</ul>";
  <% end %>
  $("#search_results").html(html);
<% end %>
