<div class="jumbotron">
  <h1>Intranet CAP</h1>
  <p>
    <%= link_to "Recherche documents", biblio_path, class: "btn btn-primary btn-lg", role: "button" %>
    <%= link_to "Coordonnées utiles", coord_path, class: "btn btn-danger btn-lg", role: "button" %>
  </p>
</div>
