<h2>Veuillez entrer email et mot de passe</h2>

<%= simple_form_for resource, as: resource_name,
                    url: session_path(resource_name),
                    wrapper: :inline_form, html: { class: 'form-inline session' },
                    wrapper_mappings: { boolean: :vertical_boolean } do |f| %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit, 'Se connecter', class: 'btn btn-success' %>
<% end %>
