<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @communication.titre %>
</p>

<%= link_to 'Edit', edit_communication_path(@communication) %> |
<%= link_to 'Back', communications_path %>
